# Terraform
Ambiente/.terraform/
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform crash logs
crash.log
crash.*.log